  ../CDEC-B52/
        ../Devops Interview questions and Answers/DevOps-Interview-Questions/devops.md
        ../Devops Interview questions and Answers/DevOps-Interview-Questions/infrastructure-as-code/aws.md
        ../Devops Interview questions and Answers/DevOps-Interview-Questions/infrastructure-as-code/k8s.md
        ../Devops Interview questions and Answers/DevOps-Interview-Questions/scenariobased interview questions and Answers/
        ../New folder (2)/
        ../New folder/DevOps-Q-A/
        ../New folder/eks-cluster/README.md
        ../New folder/eks-cluster/terraform.tfvars.example
        ../abhilash - Chrome.lnk
        ../cdec-b45-jenkins/
        ../cdec-b52-offline/
        ../devops-interview-questions/
        ../terraform-cdecb45/
